name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: ['*']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install -g yarn

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Python build deps
        run: python -m pip install --upgrade pip && python -m pip install --group build

      - name: Install JS deps
        run: yarn install --frozen-lockfile

      - name: Build frontend
        run: yarn build:prod

      - name: Pack app
        run: yarn pack:app

      - name: Build wheel
        run: yarn build:py

      - uses: actions/upload-artifact@v4
        with:
          name: jupyterlite dist ${{ github.run_number }}
          path: ./dist

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install -g yarn
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: python -m pip install --group lint --group dev
      - run: yarn install --frozen-lockfile
      - run: yarn lint:check

  integrity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install -g yarn
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: python -m pip install --group build
      - run: yarn install --frozen-lockfile
      - run: yarn deduplicate
      - run: git diff --exit-code yarn.lock
      - run: yarn integrity:check

  typedoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install -g yarn
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: python -m pip install --group dev
      - run: yarn install --frozen-lockfile
      - run: yarn build:lib
      - run: yarn docs
      - uses: actions/upload-artifact@v4
        with:
          name: jupyterlite typedoc ${{ github.run_number }}
          path: ./docs/reference/api/ts

  test:
    needs: [build]
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash -eux {0}
    env:
      PYTHONUTF8: 1
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows, macos]
        python-version: ['3.10', '3.12', 'pypy-3.11']
        exclude:
          - os: windows
            python-version: pypy-3.11
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install -g yarn

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/download-artifact@v4
        with:
          name: jupyterlite dist ${{ github.run_number }}
          path: ./dist

      - name: Install (py)
        run: |
          python -m pip install ./dist/jupyterlite*.whl
          python -m pip check

      - name: Prepare smoke test folder
        run: mkdir -p build/smoke-test

      - name: Get SOURCE_DATE_EPOCH
        id: source-date
        run: echo "epoch=$(git log -1 --format=%ct)" >> $GITHUB_OUTPUT

      - name: Test (CLI)
        run: |
          cd build/smoke-test
          jupyter lite --version || exit 1
          jupyter lite --help || exit 1
          jupyter lite list || exit 1
          jupyter lite status || exit 1
          jupyter lite build || exit 1
          jupyter lite check || exit 1
          jupyter lite archive --source-date-epoch ${{ steps.source-date.outputs.epoch }} || exit 1
          jupyter lite list || exit 1
          jupyter lite status --debug || exit 1

      - name: Install test dependencies
        run: python -m pip install --group test

      - name: Pin pytest for pypy
        if: ${{ matrix.python-version == 'pypy-3.11' }}
        run: |
          python -m pip install "pytest<8" --prefer-binary
          echo 'See https://github.com/jupyterlite/jupyterlite/issues/1308' >> $GITHUB_STEP_SUMMARY

      - name: Test (py)
        run: |
          EXTRA_ARGS=""
          if [[ "${{ matrix.os }}" == "windows" ]]; then
            EXTRA_ARGS="--script-launch-mode=subprocess"
          fi
          python -m pytest --pyargs jupyterlite_core -v $EXTRA_ARGS \
            --cov=jupyterlite_core --cov-report=html:build/htmlcov \
            --cov-report=term-missing --cov-fail-under=82

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: |
            jupyterlite reports ${{ github.run_number }} ${{ matrix.os }} ${{ matrix.python-version }}
          path: |
            build/htmlcov
            build/pytest

  docs:
    needs: [build, typedoc]
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -eux {0}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install -g yarn

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: actions/download-artifact@v4
        with:
          name: jupyterlite dist ${{ github.run_number }}
          path: ./dist

      - uses: actions/download-artifact@v4
        with:
          name: jupyterlite typedoc ${{ github.run_number }}
          path: ./docs/reference/api/ts

      - name: Install (py)
        run: python -m pip install ./dist/jupyterlite*.whl

      - name: Install Python deps
        run: |
          python -m pip install --group docs --group dev --group test -r examples/requirements-demo.txt

      - name: Install JS deps
        run: yarn install --frozen-lockfile

      - name: Docs (app)
        run: jupyter lite build --contents examples --output-dir build/docs-app

      - uses: actions/upload-artifact@v4
        with:
          name: jupyterlite docs app ${{ github.run_number }}
          path: build/docs-app

      - name: Docs (sphinx)
        run: yarn docs:build

      - name: Check Built Artifacts
        run: |
          python -m pytest --check-links docs/_build/html \
            --check-links-ignore "https://github.com/.*" \
            --check-links-ignore "https://pypi.org/.*" \
            --check-links-ignore "https://www.sphinx-doc.org/.*" \
            --check-links-ignore "https://jupyterlite.readthedocs.io/.*" -q

      - name: Test (py)
        run: yarn test:py:cov

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: |
            jupyterlite reports ${{ github.run_number }} docs
          path: |
            build/htmlcov
            build/pytest

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: jupyterlite sphinx logs ${{ github.run_number }}
          if-no-files-found: ignore
          path: /tmp/sphinx-*.log

  deploy:
    needs: [docs]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: jupyterlite docs app ${{ github.run_number }}
          path: public

      - uses: actions/configure-pages@v4

      - uses: actions/upload-pages-artifact@v3
        with:
          path: public

      - id: deployment
        uses: actions/deploy-pages@v4
