name: 'Step 1: Prep Release'
on:
  workflow_dispatch:
    inputs:
      version_spec:
        description: 'New Version Specifier'
        default: 'next'
        required: false
      branch:
        description: 'The branch to target'
        required: false
      post_version_spec:
        description: 'Post Version Specifier'
        required: false
      # silent:
      #   description: "Set a placeholder in the changelog and don't publish the release."
      #   required: false
      #   type: boolean
      since:
        description: 'Use PRs with activity since this date or git reference'
        required: false
      since_last_stable:
        description: 'Use PRs with activity since the last stable git tag'
        required: false
        type: boolean
jobs:
  prep_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Enable Corepack
        run: corepack enable

      - name: Prep Release
        id: prep-release
        uses: jupyter-server/jupyter_releaser/.github/actions/prep-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version_spec: ${{ github.event.inputs.version_spec }}
          # silent: ${{ github.event.inputs.silent }}
          post_version_spec: ${{ github.event.inputs.post_version_spec }}
          branch: ${{ github.event.inputs.branch }}
          since: ${{ github.event.inputs.since }}
          since_last_stable: ${{ github.event.inputs.since_last_stable }}

      - name: '** Next Step **'
        run: |
          echo "Optional): Review Draft Release: ${{ steps.prep-release.outputs.release_url }}"
