name: Windows Dev

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

env:
  PYTHONUTF8: 1
  # Workaround for https://github.com/xz64/license-webpack-plugin/issues/111
  NO_WEBPACK_LICENSES: 1

jobs:
  win-dev:
    runs-on: windows-latest
    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Enable Corepack safely
        run: |
          corepack enable
          corepack prepare yarn@3.5.0 --activate

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install Python dependencies
        run: python -m pip install --group build --group lint

      - name: Install JS dependencies
        run: jlpm install

      - name: Build
        run: jlpm build:prod

      - name: Pack app
        run: jlpm pack:app

      - name: Install (dev)
        run: jlpm install:py

      - name: Lint
        run: jlpm lint
